<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(5, 5, 32);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
    margin: 50px;
    
}

ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.4rem;
}

section{
    padding: 80px;
    font-size: 1.2rem;
}
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href= "#">HOME</a></li>
            <li><a href= "#">ABOUT</a></li>
            <li><a href= "#">{{login}}</a></li>
            <li><a href= "#">CONTACT</a></li>
        </ul>
    </nav>
    <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore totam illum, assumenda numquam ducimus necessitatibus, quasi excepturi nihil similique recusandae, incidunt enim. Tempora quisquam ipsum dignissimos sed soluta consectetur ullam iusto eligendi, exercitationem nostrum quam consequatur, laboriosam nemo, maiores dolor rerum. Reprehenderit recusandae pariatur atque incidunt sapiente soluta ratione? Quia modi necessitatibus consequuntur eveniet tempora. Debitis fugit ut minima doloremque ipsam ducimus at ipsa laudantium ad enim voluptas saepe sapiente ratione, praesentium animi repellat fugiat dolor unde rem obcaecati maxime placeat? Laboriosam, dicta tempore eum sequi incidunt reprehenderit voluptates, vero rem repellendus fugiat reiciendis quia unde provident praesentium veniam perspiciatis quod aliquid optio eveniet! Quo mollitia in cumque est sint incidunt, architecto officiis aspernatur rerum ullam doloremque at, facilis a molestiae consequuntur nobis. Corporis numquam odio omnis! Labore recusandae totam nesciunt exercitationem omnis eligendi dolores debitis tempora voluptate a ipsam necessitatibus explicabo velit facilis ullam expedita quae, temporibus maxime nulla voluptas. Libero ea ratione dolor beatae numquam laboriosam animi ipsam, corporis aliquid esse cupiditate explicabo autem repellendus eligendi quae! Suscipit maxime cumque eos, obcaecati debitis ad autem ut! Magni odit eaque quae deserunt sint ratione fuga earum illo quisquam corrupti nam nemo eveniet, libero delectus labore officiis dolore debitis? Vero consequatur ipsam totam ipsum excepturi dignissimos velit necessitatibus quis tempora deleniti ex suscipit impedit officia eius et aut nihil recusandae veritatis cupiditate facere nemo, assumenda quas quo? Voluptas hic id quam, quis sunt ullam, est ad iure delectus aliquid eius porro sit maxime reprehenderit! Eos ipsum deleniti iste corrupti ducimus aspernatur odit, dolorum eius velit impedit! Doloremque accusamus beatae, sint error quam recusandae, facilis voluptas maxime culpa cum consectetur numquam nam incidunt fugit ex rem vel natus veniam explicabo ipsa molestiae soluta eum nisi! Aperiam, maiores esse, necessitatibus at iste quae blanditiis molestias saepe repudiandae, sunt debitis facere praesentium!
    </section>
</body>
</html>