<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(5, 5, 32);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
    margin: 50px;
    
}

ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.4rem;
}

section{
    padding: 80px;
    font-size: 1.2rem;
}
    </style>
</head>
<body>
    {{>nav}}
    {{errorComment}}
</body>
</html>